* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media (max-width: 48em) {
  body {
    overflow-x: hidden; } }

html {
  scroll-behavior: smooth; }

.container {
  max-width: 1400px;
  margin: 0 auto; }

.container-flex {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.mb-6 {
  margin-bottom: 6rem; }

.mb-5 {
  margin-bottom: 5rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-1 {
  margin-bottom: 1rem; }

.pt-5 {
  padding-top: 5rem; }

body {
  font-family: 'Montserrat', sans-serif; }

html {
  font-size: 62.5%; }

.heading-primary {
  color: #fff;
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); }

.sub-heading {
  color: #fff;
  font-size: 3rem; }

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700; }
  .heading-secondary--white {
    color: #fff; }

.section-sub-heading {
  font-size: 2rem;
  text-align: center;
  padding: 0 5rem; }

.heading-tertiary {
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
  border-bottom: 2px solid #000; }

.logo {
  color: #fff;
  font-size: 5rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
  backface-visibility: hidden; }
  .logo:hover {
    transform: rotate(-5deg); }

.header {
  background-image: linear-gradient(to right bottom, rgba(69, 117, 133, 0.8), rgba(16, 64, 80, 0.8)), url(../../img/back.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
  height: 100vh; }
  .header__info-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center; }

.navigation {
  font-size: 3rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%; }
  .navigation__nav {
    display: flex;
    list-style: none;
    height: 100%;
    margin: 0; }
    @media (max-width: 48em) {
      .navigation__nav {
        position: absolute;
        top: 10vh;
        height: 90vh;
        right: 0;
        flex-direction: column;
        background-color: #26596a;
        transform: translateX(100%);
        transition: transform 0.5s ease-in; } }
  @media (max-width: 48em) {
    .navigation__item {
      margin-top: 3rem;
      opacity: 0; } }
  .navigation__link {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 2.2rem 2rem; }
    .navigation__link:hover {
      background-color: #fff;
      color: #104050; }
  .navigation__burger {
    display: none;
    cursor: pointer; }
    @media (max-width: 48em) {
      .navigation__burger {
        display: block; } }
  .navigation__burger-line {
    width: 2.5rem;
    height: 0.3rem;
    background-color: #fff;
    margin: 0.5rem;
    transition: all 0.3s ease; }

.nav-active {
  transform: translateX(0); }

.toggle .navigation__burger-line--1 {
  transform: rotate(-45deg) translate(-5px, 6px); }

.toggle .navigation__burger-line--2 {
  opacity: 0; }

.toggle .navigation__burger-line--3 {
  transform: rotate(45deg) translate(-5px, -6px); }

.btn, .btn:link, .btn:visited {
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: inherit;
  border-radius: 50px;
  font-size: 1.8rem;
  text-decoration: none; }

.btn__primary {
  background-color: transparent;
  color: #fff;
  border: 3px solid #fff;
  padding: 1.5rem 4rem; }
  .btn__primary:hover {
    background-color: #fff;
    color: #26596a;
    border: 3px solid #26596a; }

.btn--animated {
  animation: moveUp ease 1s;
  font-weight: 700; }

.btn__form {
  height: 4rem;
  background-color: #e2ecf0;
  border: 2px solid #26596a;
  font-weight: 700; }
  .btn__form:hover {
    background-color: #26596a;
    color: #fff;
    border: 2px solid #e2ecf0; }

.portfolio__head {
  background-color: #e2ecf0;
  padding: 8rem 0; }

.portfolio__content {
  padding: 8rem 0; }

.portfolio__info {
  width: 50%;
  margin: 0 auto;
  padding: 3rem; }

.portfolio__item {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 56.25em) {
    .portfolio__item {
      flex-direction: column;
      justify-content: center; } }

.portfolio__img-container {
  width: 50%;
  text-align: center; }

.portfolio__img {
  width: 70%;
  display: inline-block;
  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.2s; }
  .portfolio__img:hover {
    transform: scale(1.05); }

.portfolio__link {
  margin: 0 auto; }

.portfolio__description {
  font-size: 2rem; }

.portfolio__skills-container {
  display: flex;
  flex-wrap: wrap; }

.portfolio__skill {
  text-transform: uppercase;
  font-size: 1.8rem;
  background-color: #e2ecf0;
  font-weight: bold;
  padding: 1rem 2.6rem;
  border-radius: 50px;
  border: 2px solid #26596a;
  margin-top: 2rem; }
  .portfolio__skill:not(:last-child) {
    margin-right: 3rem; }

.portfolio__divider {
  border: 0.1rem solid #26596a; }

.about {
  padding: 8rem 0;
  background-color: #457585;
  color: #fff;
  text-align: center; }
  .about__features {
    display: flex;
    justify-content: space-around; }
  .about__features-box {
    width: 20%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #fff;
    padding: 3rem 2rem;
    border-radius: 50px;
    background-color: #104050; }
    @media (max-width: 75em) {
      .about__features-box {
        width: 25%; } }
  .about__features-icon {
    color: #fff;
    font-size: 10rem; }
  .about__features-heading {
    font-weight: 700;
    color: #fff;
    font-size: 3rem; }
  .about__features-text {
    color: #fff;
    font-size: 1.8rem; }
  .about__info {
    display: flex;
    align-items: center;
    padding: 8rem 0; }
  .about__details {
    width: 50%;
    font-size: 2rem;
    padding-left: 3rem; }
  .about__photo {
    width: 30%; }
  .about__skills {
    width: 50%;
    display: flex;
    justify-content: center; }
  .about__skills-list {
    display: flex;
    flex-direction: column; }
  .about__skills-item {
    background-color: #104050;
    font-size: 3rem;
    border: 3px solid #fff;
    border-radius: 50px;
    padding: 1rem 2.7rem;
    font-weight: 700; }
    .about__skills-item:not(:last-child) {
      margin-bottom: 2rem; }

.contact {
  padding: 8rem 0;
  background-color: #e2ecf0; }
  .contact__form {
    background-image: linear-gradient(to left top, rgba(16, 64, 80, 0.2), rgba(38, 89, 106, 0.8));
    width: 80%;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 50px; }
  .contact__form-items {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%; }
    .contact__form-items:not(:last-child) {
      height: 3rem; }
  .contact__form-item {
    margin: 2rem 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid #e2ecf0;
    outline: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem; }
    .contact__form-item::placeholder {
      color: #fff; }

.footer {
  padding: 8rem 0;
  background-color: #104050;
  color: #fff;
  text-align: center; }
  .footer__icons {
    max-width: 400px;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between; }
  .footer__icon {
    font-size: 7rem;
    color: #fff;
    transition: all 0.3s;
    backface-visibility: hidden; }
    .footer__icon:hover {
      transform: scale(1.1);
      color: #457585; }
  .footer__text {
    font-size: 2rem; }
