// COLORS
$color-white: #fff;
$color-black: #000;

$color-primary: #26596a;
$color-primary-dark: #104050;

$color-primary-light: #457585;
$color-primary-light-2: #e2ecf0;

// PADDING
$section-padding: 8rem 0;
$section-padding-sm: 4rem 0;
