.about {
  padding: $section-padding;
  background-color: $color-primary-light;
  color: $color-white;
  text-align: center;

  &__features {
    display: flex;
    justify-content: space-around;
  }
  &__features-box {
    width: 20%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid $color-white;
    padding: 3rem 2rem;
    border-radius: 50px;
    background-color: $color-primary-dark;

    @include respond(laptop) {
      width: 25%;
    }
  }

  &__features-icon {
    color: $color-white;
    font-size: 10rem;
  }
  &__features-heading {
    font-weight: 700;
    color: $color-white;
    font-size: 3rem;
  }
  &__features-text {
    // font-weight: 700;

    color: $color-white;
    font-size: 1.8rem;
  }

  &__info {
    display: flex;
    align-items: center;
    padding: $section-padding;
  }

  &__details {
    width: 50%;
    font-size: 2rem;
    padding-left: 3rem;
  }

  &__photo {
    width: 30%;
  }

  &__skills {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  &__skills-list {
    display: flex;
    flex-direction: column;
  }

  &__skills-item {
    background-color: $color-primary-dark;
    font-size: 3rem;
    border: 3px solid $color-white;
    border-radius: 50px;
    padding: 1rem 2.7rem;
    font-weight: 700;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
