.contact {
  background-color: $color-primary-light-2;
  padding: $section-padding;

  &__form {
    background-color: $color-primary-dark;
    width: 80%;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 50px;
  }

  &__form-items {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;

    &:not(:last-child) {
      height: 3rem;
    }
  }

  &__form-item {
    margin: 2rem 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid $color-primary-light-2;
    outline: none;
    color: $color-white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;

    &::placeholder {
      color: $color-white;
    }
  }
}
