body {
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

.heading-primary {
  color: $color-white;
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);

  @include respond(tablet-port) {
    font-size: 6rem;
  }
  @include respond(mobile) {
    font-size: 5rem;
  }
}

.sub-heading {
  color: $color-white;
  font-size: 3rem;

  @include respond(tablet-port) {
    font-size: 2.5rem;
  }

  @include respond(mobile) {
    font-size: 2em;
  }
}

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;

  &--white {
    color: $color-white;
  }

  @include respond(mobile) {
    font-size: 3.4rem;
  }
}

.section-sub-heading {
  font-size: 2rem;
  text-align: center;
  padding: 0 5rem;

  @include respond(mobile-lg) {
    font-size: 1.8rem;
    padding: 0 3rem;
  }
}

.heading-tertiary {
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
  text-decoration: underline;

  @include respond(mobile) {
    font-size: 2.5rem;
  }
}

.logo {
  color: $color-white;
  font-size: 5rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;

  &:hover {
    transform: rotate(-5deg);

    @include respond(laptop) {
      transform: rotate(0);
    }
  }
}
