body {
  font-family: 'Montserrat', sans-serif;
}

.heading-primary {
  color: $color-white;
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 700;
}

.sub-heading {
  color: $color-white;
  font-size: 3rem;
}
