body {
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

.heading-primary {
  color: $color-white;
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.sub-heading {
  color: $color-white;
  font-size: 3rem;
}

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;

  &--white {
    color: $color-white;
  }
}

.section-sub-heading {
  font-size: 2rem;
  text-align: center;
}

.heading-tertiary {
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
  border-bottom: 2px solid #000;
}

.logo {
  color: $color-white;
  font-size: 5rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
